body {
    background-color: black;
    color: darkturquoise;
    font-family: 'Courier New', Courier, monospace;
}
.segment {
    padding : 15px;
    margin : 10px;
    border : 5px solid rgb(231, 146, 18);
}

.welcomesegment {
    padding : 1px;
    margin : 1px;
    background-color:rgb(18, 48, 103);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.username {
    font-size: xx-large;
    color:aquamarine
}