body {
    background-color: black;
    color: darkturquoise;
    font-family: 'Courier New', Courier, monospace;
}

a:link { 
    text-decoration: none; 
    color: darkturquoise;
}


a:visited { 
    text-decoration: none;
    color: darkturquoise;
 }


a:hover { 
    text-decoration: none; 
    color: darkturquoise;
}


a:active { 
    text-decoration: none; 
    color: darkturquoise;
}
.segment {
    padding : 15px;
    margin : 10px;
    border : 5px solid rgb(231, 146, 18);
}

.welcomesegment {
    padding : 1px;
    margin : 1px;
    background-color:rgb(18, 48, 103);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.username {
    font-size: xx-large;
    color:aquamarine
}

.bio {
    text-align: justify; 
    font-size: xx-large; 
    margin-right: 50px; 
    margin-left: 50px;
    color:aquamarine
}