.contact {
    font-size: 100%;
    /* color: rgb(3, 65, 79); */
    color: "brown";
    border-spacing: 12px;
    margin: 2% 15% 1% 15%;
    max-width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
}

.contact-cardpiece {
    font-size: 30px;
    color: "brown";
}

a {
    /* color: rgb(3, 65, 79); */
    color: white;
    margin-left: 4px;
}

.nav-img {
    height: 1.5rem;
  }