.wanderings-intro {
    color:black;
    margin: 0% 15% 0% 15%; 
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.wanderings-header {
    color:black;
    margin: 2% 15% 1% 15%;
    font-family: 'Times New Roman', Times, serif;
}

.redirector {
    color:brown;
    border-width: 3px;
    border-color: orchid;
    margin-left: 10px;
    width: 10rem;
    height: fit-content;
    column-gap: 10%;
    margin-top: 10px;
    margin-right: 5px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

a, a:visited, a:link {
    color: black !important;
}