.main, .introduction_p {
    /* color: rgb(3, 65, 79); */
    color: "brown";
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    font-weight: bold;
    margin: 0% 15% 0% 15%;
    font-size: large;
}

.link_a {
    display:inline
}


a {
    color: brown;
    /* margin-left: 10px; */
}

.contact {
        /* color: rgb(3, 65, 79); */
        color: "brown";
        font-weight: bolder;
        flex-shrink: inherit;
        flex-grow: inherit;
        margin: 2% 15% 1% 15%;
        font-family: 'Times New Roman', Times, serif
}