#description_name {
    color: rgb(3, 65, 79);
    font-weight: bolder;
    flex-shrink: inherit;
    flex-grow: inherit;
    margin: 2% 15% 1% 15%;
    font-family: 'Courier New', Courier, monospace;
}