<div class="segment">
    <h1>AY 2021/2022 Semester 1</h1>
    <div class="wrapper-grid5">
        <div class="modcontainer">
            <h2 style="font-size:30px; margin-bottom: 1px;">CS1101S</h2>
            <h3 style="font-size:25px; padding-top: 0; margin-top: 0;">Programming Methodology I</h3>
            <img src="images/icpc.jpeg" class="mod-img">
            <p style="font-size: xx-large; margin-top: 1px; margin-bottom: 1px;">
                <a href="modulereviews/cs1101s.html" style="color:rgb(181, 210, 15);">
                    Review
                </a>
            </p>
        </div>
        <div class="modcontainer">
            <h2 style="font-size:30px; margin-bottom: 1px;">CS1231S</h2>
            <h3 style="font-size:25px; padding-top: 0; margin-top: 0;">Discrete Structures</h3>
            <img src="images/telegramimg.jpeg" class="mod-img">
            <p style="font-size: xx-large; margin-top: 1px; margin-bottom: 1px;">
                <a href="modulereviews/cs1101s.html" style="color:rgb(181, 210, 15);">
                    Review
                </a>
            </p>
        </div>
    </div>
</div>>