<div class="skillscontainer">
    <h2 style="font-size:30px">Personal Website</h3>
    <img src="images/c++img.png" class="profile-img">
    <details style="font-size:20px;">
        <summary>About</summary>
        My first web programming project built just to apply what I learnt in Web Programming. This is currently my
        3rd iteration of the project where I improved the overall organisation and aesthetic look of the website with my
        improved CSS skills which can make the website more responsive.
    </details>
    <details style="font-size:20px;">
        <summary>Links</summary>
        <a href="index.html">Website</a>
        <a href="https://github.com/russelltankaimin/russelltankaimin">Github</a>
    </details>
    <details style="font-size:20px;">
        <summary>Tools</summary>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
        </ul>
    </details>
</div>